.display_component {
  background-color: grey;
  height: 100px;
  color: #fff;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

.display_component h1 {
  font-size: 50px;
  position: relative;
  top: 40px;
}

.grouprow {
  height: 100px;
}

.app_component {
  width: 700px;
}

.btn_component {
  height: 100px;
  color: #000;
  font-weight: bold;
  border: 1px solid rgb(187, 184, 184);
  font-size: 40px;
  font-family: 'Passion One', cursive;
}

.topstyle{
  margin-bottom: 40px;
}

.topstyle a{
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
 
}